* {
    /* box-sizing: border-box; */
    margin: 0;
    padding: 0;
    font-family: "Pompiere", sans-serif;
    font-size: 25px;
    background: rgb(220,204,192);
}

  
.img-thumbnail {
    display: inline-block!important;
    max-width: 30%!important;
    height: auto!important;
    padding: 4px!important;
    line-height: 1.42857143!important;
    background-color: unset!important;
    border: 1px!important;
    border-radius: 4px!important;
    transition: all .2s ease-in-out!important;
}

.homeP {
    font-size: 150%;
    text-align: center;
}

.homeH1 {
    text-align: center;
}


.carousel-item img {
    max-width: 35%;
}


.footer {

left: 0;
bottom: 0;
height: 30px; 
padding: 50px
    
  }
  .footer a {
    color: #70726F;
    font-size: 20px;
    padding: 10px;
    border-right:1px solid #70726F;
    transition: all .5s ease;
  }
  .footer a:first-child {
    border-left: 1px solid #70726F;
  }
  .footer a:hover {
    color: white;
  }

  .bi--twitter-x {
    display: inline-block;
    width: 15px;
    height: 15px;
    --svg: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M12.6.75h2.454l-5.36 6.142L16 15.25h-4.937l-3.867-5.07l-4.425 5.07H.316l5.733-6.57L0 .75h5.063l3.495 4.633L12.601.75Zm-.86 13.028h1.36L4.323 2.145H2.865z'/%3E%3C/svg%3E");
    background-color: currentColor;
    -webkit-mask-image: var(--svg);
    mask-image: var(--svg);
    -webkit-mask-repeat: no-repeat;
    mask-repeat: no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
  }
