* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: rgb(220,204,192);
}

#Portfolio {
    background-color: aqua;
}

.carousel-item img {
    max-width: 50%;
    
}